* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: Mooli;
}

.container-entete {
    background: lightgray;
}

.upper-zone {
    padding: 16px 20px;
    max-height: 33vh;
}

.upper-zone-content {
    display: grid;
    grid-template: repeat(2, 0.5fr) / repeat(3, 1fr);
    gap: 5px;
    align-items: center;
}

.upper-zone-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.zone-1-upper {
    grid-column: 1/2;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.zone-1-lower {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.style-button-open {
    background: lightgray;
    border: none;
    cursor: pointer;
}

.style-button-close {
    background: white;
    border: none;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.zone-1-lower a {
    padding-top: 0.55vw;
}

.icons {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zone-2 {
    grid-column: 2/3;
    grid-row: 1/ span 3;
    align-items: center;
    justify-items: center;
}

.img-logo {
    border-radius: 3px;
    max-width: 10vw;
}

.bloc-image-entete {
    display: flex;
    justify-content: center;
}

.champ-recherche {
    background: #f1f1f1;
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
}

.champ-recherche:hover {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.champ-recherche input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    border-radius: 0px 10px 10px 0px;
    background: #f1f1f1;
}

input:focus {
    outline: none;
}

.champ-recherche button {
    width: 20%;
    padding-right: 10px;
    margin-top: 5px;
    background: #f1f1f1;
    align-items: baseline;
    font-size: 20px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.zone-3-upper {
    grid-column: 3/4;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
}

.zone-3-upper a {
    text-align: center;
}

.zone-3-lower {
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    margin-left: 1rem;
}

.img-entete {
    display: inline-block;
}

.bottom-zone {
    background: #000;
    color: #fff;
}

.menu-nav {
    align-content: center;
}

.list-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-nav li {
    display: inline-block;
    flex-direction: row;
    transition: all .7s ease;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.list-nav li:hover {
    background: blueviolet;
    border-radius: 10px;
}

.container-menu{
    z-index: 1000;
}


/* Media screen */

@media (width <=768px) {
    .container-entete {
        font-size: 0.8rem;
    }
    .img-logo {
        max-width: none;
        width: 80px;
    }
}

@media (width <=650px) {
    .upper-zone-content {
        display: grid;
        grid-template: 1fr 1fr / 2fr 1fr;
        align-items: baseline;
    }
    .bloc-image-entete {
        justify-content: flex-start;
    }
    .zone-1-upper,
    .link-zone-1-lower,
    .zone-3-upper,
    .bottom-zone {
        display: none;
    }
    .zone-2 {
        display: inline-block;
    }
    .zone-3-lower {
        grid-row: 1/2;
        grid-column: 2/4;
        display: inline-flex;
        /* grid-template-columns: repeat(3,1fr); */
        margin-left: 1rem;
        justify-content: space-between;
    }
    .zone-1-lower {
        display: flex;
        grid-column: 3/4;
        margin-left: 1rem;
    }
    .zone-2 {
        grid-column: 1/3;
        grid-row: 1/3;
        grid: 2fr;
    }
    .champ-recherche {
        background: #f1f1f1;
        display: flex;
        border-radius: 10px 10px 10px 10px;
        height: 30px;
        width: 100%;
    }
}