html,
body {
    font-family: Mooli;
    /* pb sur page index : n'est pas en font familly mooli*/
}


/* Règle de hover : on annule le opacity hérité d'autres fichiers CSS */
a:hover {
    opacity: 100%;

}

/* Fil d'Ariane-------------------------------------------------------- */
.fil_ariane {
    display: flex;
    gap: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    transform: skew(-25deg);
    
    /* On incline les cases de 25 degrés */
}

.fil_ariane div {
    background: lightgrey;
}

.fil_ariane div:hover,
#onglets button:hover {
    background: darkgrey;
    color: black;
}

.fil_ariane a {
    display: block;
    color: black;
    padding: 0.5em 2em;
    text-decoration: none;
    font-size: 1rem;
    transform: skew(25deg);
    color: black;
    /* On redresse le texte des cases du fil d'ariane de 25 degrés */
}

.fil_ariane div:first-child {
    border-radius: 7px 0 0 7px;
    /* arrondis de case sur les bords extérieurs de la première case */
}

.fil_ariane div:last-child {
    border-right: none;
    border-radius: 0 7px 7px 0;
    /* arrondis de case sur les bords extérieurs de la dernière case */
}

/* Règles de la page-------------------------------------------------- */

h1 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;

}

.pages_produits {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.photo_pages_produits {
    grid-column: 1;
}

.prix_pages_produits {
    grid-column: 2;
}

#onglets {
    grid-column: 1 / span 2;
}

/* Les règles de la partie gauche de la page-------------------------------- */

.photo_pages_produits {
    display: flex;
    flex: 75%;
    flex-direction: column;
    margin-left: 5%;

}

.photo_pages_produits img {
    max-width: 400px;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
}


/* Règles des onglets en bas de partie gauche de la page------------------*/
#onglets {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#onglets h2 {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
}

#onglets button {
    -webkit-appearance: none;
    border: 0px;
    border-radius: 5px 5px 0 0;
    padding: 1% 2%;
    font-size: 1.2rem;
}

.actif {
    background: lightgrey;
}

.tab-content {
    border-radius: 0 5px 5px 5px;
    background-color: lightgrey;
    display: none;
}

.tab-content p,
.tab-content h3 {
    justify-content: left;
    padding-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    /* line-height: 1.1rem; */
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    max-width: 1000px;
}

.tab-content p:last-child {
    padding-bottom: 25px;

}

.tab-content h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Les règles de la partie droite de la page----------------------------- */

.prix_pages_produits {
    display: flex;
    flex: 25%;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

.prix_pages_produits div:first-child {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 20px;
}

.prix_pages_produits div:nth-of-type(2) {
    font-size: 1rem;
}

.prix_pages_produits div:nth-of-type(3) {
    font-size: 1.3rem;
    color: green;
    padding-top: 15px;
}

.prix_pages_produits div:nth-of-type(4) {
    font-size: 1.1rem;
    color: black;
    padding-top: 15px;
    text-align: justify;
}

.prix_pages_produits div:nth-of-type(4) span {
    font-weight: bold;
}

.prix_pages_produits div:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0;
}

#quantite {
    display: inline;
    border: 0;
    width: 3em;
    font-size: 1.2rem;
    background: #e9e9ed;
    margin: auto;
    border-radius: 10px;
    height: 2em;
    text-align: center;
}

#bouton_quantite {
    display: inline;
    text-align: center;
    background: black;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 30px;
}


#bouton_quantite:hover {
    background-color: blueviolet;
    opacity: 100%;
}


/* Règles de responsive----------------------------------------------------*/
@media screen and (max-width : 1080px) { 

    .photo_pages_produits {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .photo_pages_produits img {
        max-width: 100%;
    }

    .prix_pages_produits div:first-child {
        font-size: 1.8rem;
        padding-top: 10px;
    }

    .prix_pages_produits div:nth-of-type(2) {
        font-size: 0.6rem;
    }

    #onglets {
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-width : 768px) {
    .photo_pages_produits {
        grid-column: 1 /span 2;
    }

    .prix_pages_produits {
        grid-column: 1 / span 2;
    }

    #onglets {
        grid-column: 1 / span 2;
        margin-left: 0;
        margin-right: 0;
    }


    .photo_pages_produits {
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .photo_pages_produits img {
        max-width: 100%;
    }

    .prix_pages_produits div:first-child {
        font-size: 2rem;
        padding-top: 10px;
    }

    .prix_pages_produits div:nth-of-type(2) {
        font-size: 0.7rem;
    }

}

@media screen and (max-width : 650px){
    
    .fil_ariane{
        display: none;
    } 
}