* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    font-family: Mooli;
}

.container-entete{
    background: lightgray;
}
.upper-zone{
}

.upper-zone-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
    padding-left: 40px;
}

.upper-zone-content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.zone-1-upper {
    grid-column: 1/2;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    justify-content: space-around;
}

.zone-1-lower {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.zone-1-lower a {
    padding-top: 0.55vw;
}

.icons {
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zone-2-upper {
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px; 
}

.img-logo{
    border-radius: 3px;
}

.zone-2-lower {
    grid-column: 2/3;
    grid-row: 2/3;
}

.zone-3-upper{
    grid-column: 3/4;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

.zone-3-lower {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    margin-left: 70px;
}

.zone-3-lower #side-icons{
    margin: 0px 50px 0px 0;
    gap: 4.5rem;
    font-size: 1.7rem;
    color: #000;
}

.bloc-image-entete{
    justify-content: center;
}

.champ-recherche{
    background: #f1f1f1;
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
    height: 80%;
}

.champ-recherche:hover{
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.champ-recherche input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    border-radius: 0px 10px 10px 0px;
    background: #f1f1f1;
  }

  input:focus {
    outline:  none;
}
.champ-recherche button {
    width: 20%;
    padding-right: 10px;
    margin-top: 5px;
    background: #f1f1f1;
    align-items: baseline;
    font-size: 20px;
    border :none;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
  }

.bottom-zone{
    background: #000;
    color: #fff;
}

/* .champ-recherche::after {
    content: "";
    clear: both;
    display: table;
  } */

.menu-nav {
    /* display: inline; */
    align-content: center;
}

.list-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.list-nav li {
    display: inline-block;
    flex-direction: row;
    transition: all .7s ease ;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.list-nav li:hover{
    background: blueviolet;
    border-radius: 10px;
    
}

  
  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .crumb {
    display: inline-block;
  }
  
  .crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  