* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    font-family: Mooli;
}

.container-entete{
    background: lightgray;
}
.upper-zone{
    border: 1px red solid;
}

.upper-zone-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px green dotted;
    margin:10px;
}

.zone-1 {
    align-items: center;
    align-content: center;
}

.zone-1 span {
    border: 1px blue solid;
    margin-right: 2.5em;
}

.zone-2 {
    
}

.bloc-image-entete{
    justify-content: center;
}

.champ-recherche{
    background: #f1f1f1;
    display: flex;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
}

.champ-recherche:hover{
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.champ-recherche input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    border-radius: 0px 10px 10px 0px;
    background: #f1f1f1;
  }

  input:focus {
    outline:  none;
}
.champ-recherche button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    align-items: baseline;
    font-size: 17px;
    border :none;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
  }

::placeholder{
    justify-content: center;
}

/* .champ-recherche::after {
    content: "";
    clear: both;
    display: table;
  } */

.zone-3{
    align-items: center;
    align-content: center;
}
.menu-nav {
    /* display: inline; */
    align-content: center;
}

.list-nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.list-nav li {
    display: inline-block;
    flex-direction: row;
    transition: all .7s ease ;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.list-nav li:hover{
    background: blueviolet;
    border-radius: 10px;
    
}

  
  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .crumb {
    display: inline-block;
  }
  
  .crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  