 body {
  
  font-family: Mooli;
}
.titre{
  padding-top: 5vw;
}

.centre_horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-scroll {
  padding: 1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background-color: none;
  overflow-y: hidden;
}

.product-menu{
  max-width: 70vw; 
  display: flex;
}


.product-item {
  padding: 1vw;
  text-align: center;
  font-size: 1.2em;
}

.image {
  height: 10vw;
  min-width: 20vw;
  /* padding: 3%; */
  border: 5px solid #ccc;
  border-radius: 3%;

}

.lag{
  max-height: 8vw;
  position: relative;
  top: 0.2vw;
}
 .ovation{
  max-height: 8vw;
 }

.image img{
  display: block;
  margin: auto;
  max-width: 8vw;   /* on peut ajuster la largeur */
  height: auto; 
 } 

.product-item p {
  font-size: 14px;
} 
@media (max-width: 1000px) {
  *{
    margin: 0;
  }
  .image img{
    max-height: 9vw;
  }
}
/* Mode responsive */
@media (max-width: 770px) {
  .horizontal-scroll {
      max-width: 80%;
      /* margin: auto; */
  }

  .product-item{
    height: 25vw;
  }

  .image img {
      max-width: 7vw;
      height: auto;
  }
}

@media (max-width: 426px){
  .image{
    min-width: 70vw;
    height: 46vw;
  }

  .image img{
    min-height: 42vw;
    min-width: 43vw;
    margin-left: 12vw;
  }

  .product-item{
    min-height: 60vw;
  }

  .horizontal-scroll{
    height: 70vw;
  }
} 






























