 body {
  
  font-family: Mooli;
}
.titre{
  padding-top: 5vw;
}

.centre_horizontal{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-scroll {
  padding: 1vw;
  white-space: nowrap;
  margin-top: 5vw;
  margin-bottom: 5vw;
  background-color: none;
  overflow-y: hidden;
}

.product-menu{
  max-width: 70vw; 
  display: flex;
}


.product-item {
  padding: 1vw;
  text-align: center;
  font-size: 1.2em;
}

.image {
  height: 10vw;
  min-width: 20vw;
  max-width: 30vw; /* on peut ajuster la largeur */
  /* padding: 3%; */
  border: 5px solid #ccc;
  border-radius: 3%;

}

.lag{
  max-height: 8vw;
  position: relative;
  top: 0.2vw;
}
 .ovation{
  max-height: 8vw;
 }

.image img{
  display: block;
  margin: auto;
  max-width: 8vw;   /* on peut ajuster la largeur */
  height: auto; 
 } 

.product-item p {
  font-size: 14px;
} 

/* Mode responsive */
@media (max-width: 750px) {
  .horizontal-scroll {
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
  }

  .product-menu {
      width: auto;
      height: auto;
      display: block;
  }

  .product-item {
      width: 100%;
      display: inline-block;
  }

  .image {
      width: 90%;
      /* margin: auto; */
  }

  .image img {
      max-width: 100%;
      height: auto;
  }
}






























