html body{
    font-family: Mooli;
}

.constructeur > img{
    max-width: 15vw;
    margin-bottom: 2vw
}

a:hover{
    opacity: 50%;
}

.gauche{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
}

.droite, .droite > h3{
    text-overflow: ellipsis;
    justify-content: space-between;
}

.titre_droite{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1vw;
}


.photo_produits_gauche{
    border-top: 5px yellow solid;
    border-bottom: 5px yellow solid;
    border-left: 5px yellow solid;
    border-radius: 100%;

}

.photo_produits_droite{
    border-right: 5px yellow solid;
    border-top: 5px yellow solid;
    border-bottom: 5px yellow solid;
    border-radius: 100%;
}

.droite, .photo_produits_droite{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.droite, .gauche{
    margin: 1vw;
    margin-top: 1vw;
}


.photo_produits_gauche, .photo_produits_droite{
    max-width: 15vw; 
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    text-decoration: none;
}

.aligner_voirplus{
    max-width: 60vw;
    display: flex;
    border-bottom: 1px black solid;
    max-height: 10vw;
    contain: content;
}

/* .pagination{
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
} */